<style>
.upload-bar {
height: 18px;
background: green;
}
</style>
<input id="fileupload" type="file" name="filename[]" style="color: transparent"  multiple>
<div id="progress">
    <div class="upload-bar" style="width: 0%"></div>
</div>
 <div id="upload-status-list">
</div>
